HELP.md
target/
out/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.log
logs/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.env
.env.*
cityquest.env
application-local.properties
application-secret.properties

*.dump
*.sql

*.tar
*.tar.gz
*.tgz
*.zip
.DS_Store
Thumbs.db
