<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title>City Quest</title>
</head>
<body>
<div class="container">
    <div class="card">
        <h1>Городской квест для первокурсников КТ</h1>
        <p>Добро пожаловать!</p>
        <a href="/admin/login"
           class="action-button">
            Вход администратора
        </a>
    </div>
</div>
</body>
</html>
